/* #region default */
:root {
  --text-color: #ffffffff;
  --background-color: #202020ff;
  --background-color2: #171717ff;
  --background-backdrop-color: #0000003f;
  --border-color: #404040ff;
  --link-color: #30c0ff;
  --link-hover-color: #3070ff;
  --warning-color: #ff3030;

  overflow: hidden;
  height: 100%;
  font: 1rem "Verdana";
}

body,
body *:not(script) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  margin: 0;
  outline: none;
  outline-offset: 1px;
  border: none;
  padding: 0;
  background: none;
  font: 1rem "Verdana";
  color: var(--text-color);
}
/* #endregion */

body {
  /* #region generic */
  overflow: hidden;
  position: relative;
  background: var(--background-color);
  height: 100%;

  & h2 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  & :is(ul, ol) {
    list-style-type: none;
  }
  & li {
    display: list-item;
  }
  & a {
    text-decoration: none;
  }
  & :is(button, select) {
    cursor: pointer;
  }
  & :is(a, input, button):focus-visible {
    outline: var(--text-color) solid 1px;
  }
  /* #endregion */

  /* #region page */
  /* #region classes */
  & button.close > img {
    filter: invert();
  }
  /* #endregion */

  /* #region components */
  & > dialog {
    align-self: center;
    justify-self: center;
    border-radius: 0.2rem;
    border: 1px solid var(--border-color);
    background: var(--background-color2);
    padding: 2rem;

    &:not([open]) {
      display: none;
    }
    &::backdrop {
      background-color: var(--background-backdrop-color);
    }

    & > header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
    }
    & button.close {
      width: 1.2em;
      font-family: monospace;
    }
    & > .inputs {
      margin-top: 1rem;
      padding-left: 1rem;

      & > label {
        flex-direction: row;
        gap: 0.3rem;
      }
    }
  }

  & > header > nav {
    border-bottom: 1px solid var(--border-color);
    background: var(--background-color2);

    &.navbar > ul > li > a {
      align-items: center;

      &:hover > * {
        text-decoration: underline;
        color: var(--link-hover-color);
      }

      & > * {
        padding: 1rem;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
    &.menu-bar > ul > li > button {
      padding: 0.5rem;

      &:hover {
        background: var(--background-color);
      }
    }
    & > ul {
      flex-direction: row;

      & > li {
        flex: 1;
      }
    }
  }
  /* #endregion */

  & > main {
    flex: 1;
    padding: 1rem;

    & > textarea {
      resize: none;
      flex: 1;
      border-radius: 0.2rem;
      border: 1px solid var(--border-color);
      font-family: monospace;
    }
  }
  /* #endregion */
}
